@charset "utf-8";
/* CSS Document */

body {
	overflow-x: hidden;
	font-family:"Helvetica Neue", Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

/* reset */

li { list-style:none; }

a { color:#333; }
a:hover { color:#666; }


h1,h2,h3,h4,h5,h6{ margin:0; }


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 8px;
	padding-right: 8px;
}

.leftBox { float:left; }
.rightBox { float:right; }

@media print{
a[href]:after {
    content: "" !important;
  }
}

/* header */
#pcHeader { height:138px;overflow:hidden; }
#pcHeader h1 { font-size:11px;padding:15px 15px 10px 15px; }
#pcHeader .logo { padding:10px 15px 20px 15px; }
#pcHeader .navWrapper { width:100%;background:#000;border-bottom:1px solid #FFF;}

/* PC gnav */
#pcHeader .navWrapper .gnav ul { display:table;border-top:1px solid #FFFF;border-bottom:1px solid #FFFF;padding:0; margin:0; }
#pcHeader .navWrapper .gnav ul li { display:table-cell;}
#pcHeader .navWrapper .gnav ul li a { display:table-cell;vertical-align:middle;width:211px;text-align:center;height:45px;color:#FFF;
	background: url(../images/pc_nav_bg.png) no-repeat 0 0;
	-webkit-transition: 0.2s ease-in-out;
	   -moz-transition: 0.2s ease-in-out;
	     -o-transition: 0.2s ease-in-out;
	        transition: 0.2s ease-in-out;

 }
#pcHeader .navWrapper .gnav ul li a:hover {	background-position: 0 bottom;text-decoration:none; } 
#pcHeader .navWrapper .gnav ul li a.rLine { border-right:1px solid #FFF; }
#pcHeader .navWrapper .gnav ul li a.lLine { border-left:1px solid #FFF; }


#change { height:30px;background:#000; }

#content { height:3000px; }


#page-top { position: fixed;z-index: 1000;bottom: 5%;right: 2%; }
#page-top a { display: block;text-decoration: none;padding-top: 60px;width: 60px;height: 0px;overflow: hidden;background: url(../images/navi_gotop.png) no-repeat 0 0; }





