@charset "utf-8";
/* CSS Document */

#topContent { 
	width:100%;
	height:auto;
}
.sliderMain li { 
	position:relative;
	display:block;
	width:100%;
	height:auto;
	margin:0;
	overflow:hidden; 
}
.sliderMain li img { 
	width:100%;
	height:auto;
	z-index:1; 
}
.sliderMain li .copyWrapper img { 
	width:auto;
	height:auto;
	z-index:999;
	position:absolute;
	top:30%;
	left:10%; 
}
.bx-wrapper { 
    margin: 0 auto 20px auto;
}
.sliderNav  { 
	padding:0 7px; 
	margin:0 0 30px 0 !important; 
}
.sliderNav .thumb { 
	float:left;
	margin-right:10px; 
}
.sliderNav .thumb:last-child { 
	margin-right:0; 
}
.sliderNav .thumb a { 
	display:block;
	border-top:4px solid #E4E4E4;
	padding:8px 0;
	width:160px;
	margin:0 auto;
	font-weight:bold; 
}
.sliderNav .thumb a.active { 
	border-top:4px solid #000; 
}
.sliderNav .thumb a:hover, 
.sliderNav .thumb a:focus { 
	text-decoration:none; 
}
.sliderNav .thumb img { 
	margin:0 0 5px 0; 
}
.sliderNav .thumb span { 
	color:#0B5D85;
	ont-size:12px; 
}
#infoBlock { 
	background:#E1E1E1;
	margin:20px 0 0 0;
	padding:10px 0;
}
#infoBlock h2 { 
	padding:0 10px;
	margin:0 0 10px 0; 
}
#linkBlock h2 img { 
	height:15px; 
}
#infoBlock h2 a { 
	display:block;
	float:left;
	margin:10px 0 0 0;
	font-size:12px;
	color:#333;
	background:url(../images/arrow_1.png) no-repeat left center;
	padding:0 0 0 15px; 
}
#infoBlock .container{ 
	padding:0 5px; 
}
#linkBlock .textBox  { 
	font-size:12px;
	height:25px;
	margin:5px 0 0 0;
}
#linkBlock .textBox span { 
	font-size:11px;
	line-height:12px;
}
#infoBlock .infoBox div span { 
	display:block; 
}
#infoBlock .infoBox .box a { 
	margin-left:0;
}
#infoBlock .infoBox .box { 
	padding:10px 5px; 
}
#infoBlock .infoBox .box .release {
	font-size:10px;
}
#infoBlock .infoBox .box .release,
#infoBlock .infoBox .box .topics,
#infoBlock .infoBox .box .news {
	min-width: 70px;
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 4px;
}
.spMain { 
	width:100%; 
}
.sliderNav { 
	display:none;
}
.sliderMain {
	display:none; 
}
.flexbox{
	display: flex;
	flex-wrap: wrap;
}
#linkBlock {
	margin:10px 0 0 0;
	padding:30px 0;
	border-top:1px solid #E4E4E4; 
}
#linkBlock .container{ 
	padding:0 30px; 
}
#linkBlock h2 { 
	padding:0 10px; 
}
#linkBlock .box { 
	margin:15px 0; 
}
#linkBlock .imgBox { 
	overflow:hidden; 
}
#linkBlock .imgBox img {    
	height: auto;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	width: 100%;
	vertical-align: bottom;
}
#linkBlock .imgBox a:hover img {
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}
#linkBlock .textBox  { 
	margin:10px 0 0 0;
	line-height:16px;
	font-weight:bold; 
	color:#666;
}
#linkBlock .textBox span { 
	display:block;
	color: #2380BE; 
	font-family: 'Lora', serif;
	font-weight:normal;
}
#infoBlock { 
	background:#E1E1E1;
	padding:30px 0; 
}
#infoBlock .container{ 
	padding:0 0; 
}
#infoBlock h2 { 
	padding:0 10px;
	margin:0 0 20px 0; 
}
#infoBlock h2 img { 
	float:left; 
}
#infoBlock h2 a { 
	display:block;
	float:right;
	font-size:12px;
	color:#333;
	background:url(../images/arrow_1.png) no-repeat right center;
	padding:5px 15px 0 0; 
}
#infoBlock .infoBox { 
	border-top:1px solid #C3C3C3;
	border-left:1px solid #C3C3C3;
	border-right:1px solid #C3C3C3;
	background:#FFF; 
}
#infoBlock .infoBox .box { 
	border-bottom:1px solid #C3C3C3;
	padding:15px; 
}
#infoBlock .infoBox .box a { 
	color: #118EFF; 
}
#infoBlock .infoBox .box span { 
	color: #333; 
	margin-right:15px; 
}
#infoBlock .infoBox .box .release { 
	color: #FFF; 
	font-size:10px;
	text-align:center;
	background:#118EFF;
	padding:4px 0; 
}
#infoBlock .infoBox .box .topics { 
	color: #FFF; 
	font-size:10px;
	text-align:center;
	background:#143d97;
	padding:4px 0; 
}
#infoBlock .infoBox .box .news { 
	color: #FFF; 
	font-size:10px;
	text-align:center;
	background:#db6a1e;
	padding:4px 0; 
}

@media (min-width: 767px){
	.sliderNav  { 
		widht:100%; 
	}
	.sliderNav .slick-active .box { 
		border-top:4px solid #000; 
	}
	.sliderNav .thumb img { 
		margin:0 0 5px 0; 
	}
	.sliderNav .thumb img:hover { 
		cursor: pointer; 
	}
	.sliderNav .thumb span { 
		color:#0B5D85;
		font-size:12px; 
	}
}
@media (min-width: 920px){
	.container {
		width: 720px;
  }
	#linkBlock .container { 
		padding: 0; 
	}
	.spMain { 
		display:none; 
	}
	.bx-default-pager { 
		display:none; 
	}
	.sliderNav { 
		display:block; 
	}
	.sliderMain { 
		display:block; 
	}
	.sliderMain li { 
		position:relative;
		display:block;
		width:100%;
		height:auto;
		margin:0;
		overflow:hidden; 
	}
	.sliderMain li img { 
		width:100%;
		height:auto;
		z-index:1; 
	}
	.sliderMain li .copyWrapper img { 
		width:45%;
		height:auto;
		z-index:999;
		position:absolute;
		top:30%;
		left:10%; 
	}
	.sliderNav .thumb img { 
		margin:0 0 5px 0; 
	}
	.sliderNav .thumb img:hover { 
		cursor: pointer; 
	}
	.sliderNav .thumb span { 
		color:#0B5D85;
		font-size:12px; 
	}
	.sliderNav  { 
		padding:0 7px; 
		margin:0 0 30px 0 !important; 
	}
	.sliderNav .thumb { 
		float:left;
		margin-right:10px; 
	}
	.sliderNav .thumb:last-child { 
		margin-right:0; 
	}
	.sliderNav .thumb a { 
		display:block;
		border-top:4px solid #E4E4E4;
		padding:8px 0;
		width:160px;
		margin:0 auto;
		font-weight:bold; 
	}
	.sliderNav .thumb a.active { 
		border-top:4px solid #000; 
	}
	.sliderNav .thumb a:hover, 
	.sliderNav .thumb a:focus { 
		text-decoration:none; 
	}
	.sliderNav .thumb img { 
		margin:0 0 5px 0; 
	}
	.sliderNav .thumb span { 
		color:#0B5D85;
		ont-size:12px; 
	}
}
@media (min-width: 1200px){
	.container {
		width: 1024px;
		margin: 0 auto;
	}
	.sliderMain li .copyWrapper img {
		width: auto;
		height: auto;
}
}
/**
 loadingLayer
**/

#loadingLayer{
  position:fixed;
  top:0px;
  left:0px;
  z-index:999;
  width:100%;
  height:100%;
  background:#000B3E;
}
#loadingWrap {
	background-blend-mode: multiply;
	width: 100%;
	height: 100%;
	position:absolute;
}
/*-------video------ */
#loadingWrap video {
	display:block;
	position: fixed;
	top: -100%;
	left: -100%;
	bottom: -100%;
	right: -100%;
	min-width:100%;
	min-height:100%;
	max-width:inherit;
	margin:auto;
	width:auto;
	height:auto;
	z-index:-1000;
}

#loadingWrap .zoomIn2{
	color: #FFF;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100px;
	font-weight: bold;
	height: auto;
	width: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	z-index:60;
}
#loadingWrap .zoomIn2.zoomIn {
    top: 40%;
    font-size: 60px;
}
#loadingWrap #box{
	height: 100%;
	width: 100%;
	z-index:100;
	background: rgba(0,135,255,0.5);
}
.zoomIn2 {
  animation: translate 2s; 
  -webkit-animation: translate 2s; /* Safari & Chrome */
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn2 {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

#loadingLayer {
	overflow: hidden;	
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.44) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.44))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.44) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.44) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.44) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.44) 100%); /* W3C */
}
