@charset "utf-8";
/* CSS Document */

body {
	overflow-x: hidden;
	font-family:"Helvetica Neue", Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}


@media (max-width: 992px){
	body { font-size:12px; }
}

/* reset */

li { list-style:none; }

a { color:#00A1FF; }
a:hover { color:#666; }


h1,h2,h3,h4,h5,h6{ margin:0;font-weight:normal; }


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}

.leftBox { float:left; }
.rightBox { float:right; }

@media print{
a[href]:after {
    content: "" !important;
  }
}

.indent {   padding-left: 1em;  text-indent: -1em; }
table th { white-space: nowrap !important; }

/*=========================================================*/
/* header */
/*=========================================================*/
/*=========================================================*/
/* header */
/*=========================================================*/
#globalPcHeader { height:131px;overflow:hidden; }
#globalPcHeader h1 { font-size:11px;padding:15px 15px 10px 15px; }
#globalPcHeader .logo {
    padding: 4px 15px 16px 15px;
}

#globalPcHeader .rightBox { padding:10px 0 0 0 ; }
#globalPcHeader .rightBox a { padding:0 10px;margin:0 10px;color:#000; }
#globalPcHeader .rightBox a:hover{ text-decoration:none;color:#999; }
#globalPcHeader .rightBox a.outLink { display:inline-block;border:1px solid #FF0000;text-align:center;font-size:12px;padding:5px 15px;color:#FF0000;
 }
 #globalPcHeader .rightBox a.outLink:hover { text-decoration:none;background:#EFEFEF; }

#globalPcHeader .navWrapper { width:100%;background:#000;}

/* PC gnav */
#globalPcHeader .navWrapper .gnav ul { display:table;border-top:1px solid #FFFF;border-bottom:1px solid #FFFF;padding:0; margin:0; }
#globalPcHeader .navWrapper .gnav ul li { display:table-cell;}
#globalPcHeader .navWrapper .gnav ul li a { display:table-cell;vertical-align:middle;width:212px;text-align:center;height:45px;color:#FFF;
	background: url(/common/images/pc_nav_bg.png) no-repeat 0 0;
	-webkit-transition: 0.4s ease-in-out;
	   -moz-transition: 0.4s ease-in-out;
	     -o-transition: 0.4s ease-in-out;
	        transition: 0.4s ease-in-out;
}
@media (max-width: 992px){
	#globalPcHeader .navWrapper .gnav ul li:nth-child(4) a { letter-spacing: -0.1em; }
}
#globalPcHeader .navWrapper .gnav ul li a:hover {	background-position: 0 bottom;text-decoration:none;color:#000; } 
#globalPcHeader .navWrapper .gnav ul li a.rLine { border-right:1px solid #FFF; }
#globalPcHeader .navWrapper .gnav ul li a.lLine { border-left:1px solid #FFF; }
#globalPcHeader .navWrapper .gnav ul li a.active { background-position: 0 bottom;text-decoration:none;color:#000; } 

#globalSpHeader { display:none; }

span.slicknav_menutxt { display:none; }

@media (min-width: 768px){
	.slicknav_menu { display:none; }
}

@media (max-width: 767px){
	#globalPcHeader { display:none; }
}



#pcHeader { height:80px;overflow:hidden; }
#pcHeader h1 { font-size:11px;padding:15px 15px 10px 15px; }
#pcHeader .logo { padding:25px 15px 20px 15px; }

#pcHeader .rightBox { padding:20px 20px 0 0 ; }

#pcHeader .rightBox a {
	display:block;
	float:left;
	padding:10px 30px 5px 30px;
	margin:0;
	background: url(/recruit/common/images/gnav_bg.png) no-repeat 0 0;
			-webkit-transition: 0.2s ease-in-out;
			   -moz-transition: 0.2s ease-in-out;
				 -o-transition: 0.2s ease-in-out;
					transition: 0.2s ease-in-out;
}
#pcHeader .rightBox a:hover,#pcHeader .rightBox a.active { background-position: 0 bottom;text-decoration:none; }
@media (min-width:768px) and (max-width: 992px) {
	#pcHeader .rightBox { padding-right: 0; }
	#pcHeader .rightBox a {
		padding-left: 0;
	}
}
@media (max-width:767px) {
	#pcHeader { height: auto; }
	#pcHeader .leftBox {
		width: 100%;
		float: none;
	}
	#pcHeader .leftBox .logo {
		padding: 10px 0 15px;
		text-align: center;
	}
	#pcHeader .rightBox { display: none; }
}


/*=========================================================*/
/* footer */
/*=========================================================*/
footer { background:#000;color:#FFF;font-size:12px;margin-top:50px; }
footer a,footer a:hover { color:#FFF; }
footer#global-footer { display: none; }

footer .footerNavi { padding:10px 0; }
footer .footerNavi li { padding:3px 0; }
footer .footerNavi li a { font-size:12px; }
footer .footerNavi li.parent a { font-weight:bold; }

.footerNavi .col-xs-1, .footerNavi .col-sm-1, .footerNavi .col-md-1, .footerNavi .col-lg-1, .footerNavi .col-xs-2, .footerNavi .col-sm-2, .footerNavi .col-md-2, .footerNavi .col-lg-2, .footerNavi .col-xs-3, .footerNavi .col-sm-3, .footerNavi .col-md-3, .footerNavi .col-lg-3, .footerNavi .col-xs-4, .footerNavi .col-sm-4, .footerNavi .col-md-4, .footerNavi .col-lg-4, .footerNavi .col-xs-5, .footerNavi .col-sm-5, .footerNavi .col-md-5, .footerNavi .col-lg-5, .footerNavi .col-xs-6, .footerNavi .col-sm-6, .footerNavi .col-md-6, .footerNavi .col-lg-6, .footerNavi .col-xs-7, .footerNavi .col-sm-7, .footerNavi .col-md-7, .footerNavi .col-lg-7, .footerNavi .col-xs-8, .footerNavi .col-sm-8, .footerNavi .col-md-8, .footerNavi .col-lg-8, .footerNavi .col-xs-9, .footerNavi .col-sm-9, .footerNavi .col-md-9, .footerNavi .col-lg-9, .footerNavi .col-xs-10, .footerNavi .col-sm-10, .footerNavi .col-md-10, .footerNavi .col-lg-10, .footerNavi .col-xs-11, .footerNavi .col-sm-11, .footerNavi .col-md-11, .footerNavi .col-lg-11, .footerNavi .col-xs-12, .footerNavi .col-sm-12, .footerNavi .col-md-12, .footerNavi .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

footer .footerBottom { padding:20px 0;border-top:1px solid #959595; }

@media (max-width: 767px) {
	footer { margin-top: 20px; }
	footer .footerBottom { padding: 20px 10px;}
	footer .footerBottom .copyright { font-size: 10px; text-align:center;}
	footer .textLink { text-align:center !important;margin:0 0 20px 0; }
}


/* page top */
#page-top { width:100%;padding:5px 0;border-bottom:1px solid #959595;  }
#page-top a { display:block;padding: 10px 0 5px 0;}





